<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("partials/css.ejs") %>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/04_module_b/<%= title.toLowerCase() %>/new?pwd=admin">Create a <%= title %></a>
    <a href="/04_module_b/<%= other.toLowerCase() %>?pwd=admin">View all <%= other %></a>
    <% if (locals.data[0]) { %>
        <table border="1">
            <thead>
                <tr>
                    <% Object.keys(data[0]).forEach(key => { %>
                        <% fields.forEach(f => { %>
                            <% if (f.name === key && key !== "isHidden" && key !== "isDeactivated") { %>
                                <th><%= f.label %></th>
                            <% } %>
                        <% }) %>
                    <% }) %>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(row => { %>
                    <% if (!row["isDeactivated"] && !row["isHidden"]) { %>
                        <tr>
                            <% Object.keys(row).forEach(key => { %>
                                <% if (key !== "id" && key !== "isDeactivated" && key !== "isHidden") { %>
                                    <td><%= row[key] %></td>
                                <% } %>
                            <% }) %>
                            <td>
                                <a href="/04_module_b/<%= title.toLowerCase() %>/<%= row.id %>/update?pwd=admin">View/Update</a>
                            </td>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>

        <% if (title === "Company") { %>
        <h4>Deactivated</h4>
        <table border="1">
            <thead>
                <tr>
                    <% Object.keys(data[0]).forEach(key => { %>
                        <% fields.forEach(f => { %>
                            <% if (f.name === key && key !== "isDeactivated") { %>
                                <th><%= f.label %></th>
                            <% } %>
                        <% }) %>
                    <% }) %>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(row => { %>
                    <% if (row["isDeactivated"]) { %>
                        <tr>
                            <% Object.keys(row).forEach(key => { %>
                                <% if (key !== "id" && key !== "isDeactivated" && key !== "isHidden") { %>
                                    <td><%= row[key] %></td>
                                <% } %>
                            <% }) %>
                            <td>
                                <a href="/04_module_b/<%= title.toLowerCase() %>/<%= row.id %>/update?pwd=admin">View/Update</a>
                            </td>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>
        <% } %>

    <% } %>
</body>
</html>