<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taiwan Tourism</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/bootstrap.js" defer></script>
    <%- include('css.ejs') %>
  </head>
  <body>
    <header><%- include('navbar.ejs') %></header>
    <%- include('banner.ejs') %>
    <section class="section regions container-fluid" id="regions">
      <h1>Regional Guide</h1>
      <p class="text-secondary">Click a region on the map to explore.</p>
      <div class="regionsContent">
        <div class="card">
          <div class="card-body">This is some text within a card body.</div>
        </div>
        <div class="regionsInnerContent">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Card subtitle
              </h6>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card’s content.
              </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('cultural.ejs') %>
    <%- include('footer.ejs') %>
  </body>
</html>
