<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taiwan Tourism</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js" defer></script>
    <%- include('partials/css.ejs') %>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <%- include('partials/banner.ejs') %>
    <%- include('partials/regional.ejs') %>
    <%- include('partials/experiences.ejs') %>
</body>
</html>